<div class="grid-x grid-margin-x grid-margin-y">
  <article class="cell medium-3 bar" *ngFor="let bar of bars">
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <img src="{{ bar.image_url }}">
        <h4>{{ bar.title | uppercase }}</h4>
        <p>{{ bar.content }}</p>
        <p>{{ bar.lat + ' ' + bar.long }}</p>
        <div>
          <button class="expanded alert button" (click)="onDrink(bar)">Drink on this Bar</button>
          <div class="expanded button-group">
            <button class="button" (click)="onSelect(bar)">View bar</button>
            <button class="button" data-open="editBar">Edit bar</button>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>

<app-bar-detail [bar]="selectedBar" (close)="onClose($event)"></app-bar-detail>
